# KiCad
*.kicad_prl
*-backups/
*.bak
*.kicad_sch-bak
*.kicad_pcb-bak
fp-info-cache
_autosave-*

# Gerber / fab exports (generated)
gerbers/
*.zip

# Simulation output
*.raw
*.log

# OS cruft
Thumbs.db
.DS_Store
